.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogItems {
    border-right: 1px solid #DDDDDD;
}

.dialogItems:hover{
    overflow-y: scroll;

}

.messages {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.messages:nth-child(odd){
    align-self: end;

}

.nameMessages{
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.avatar{
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin-left: 50px;
}

.formInput{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #DDD;
    width: 100%;
    border-radius: 10px;
}

.input{
    height: 32px;
    border: none;
    outline:none;
    resize: none;
    width: 95%;
    margin-right: 10px;
    display: block;
}