.Menu {
    grid-area: menu;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 80px;
    left: 0;
    transform: translateX(-140%);
    transition: all 0.2s;
}

.menuActive {
    grid-area: menu;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 80px;
    left: 0;
    transition: all 0.2s;
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 40%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menuContent {
    width: 40%;
    height: 100%;
    background-color: #615DFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.menuHeader {
    padding: 10px;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

.menu {
}

.menuItem {
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0px 0px 20px;
    padding: 0px 16px;
}

.menuItem:hover {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.menuItem:hover .link {
    color: #23D2E2;
}

.linkText {
    margin-left: 10px;
}

@media (max-width: 660px) {
    .Menu {
        transform: translateX(200%);
    }

    .blur {
        left: 100%;
    }

    .menuContent {
        width: 100%;
    }

}
