.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}
.add_button {
  background-color: #9099f9;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 8px;
  margin-left: 10px;
}
.add_button:hover {
  background-color: #9099f9;
  color: white;
}
.add_button:active {
  background-color: #4C489D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}