.Photos {}

.albums{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1em;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
}

.photo{
    width: 266px;
    height: 266px;
    border-radius: 12px;
    margin: 1em;
    cursor: pointer;
}

@media screen and (max-width: 1162px) {
    .albums {
        grid-template-columns: repeat(3, auto);
    }
    .headerInfoImg {
        height: 128px;
        width: 128px;
    }

}

@media screen and (max-width: 916px) {
    .albums {
        grid-template-columns: repeat(2, auto);
    }

    .headerInfoImg {
        height: 128px;
        width: 128px;
    }

}

@media screen and (max-width: 630px) {
    .albums {
        grid-template-columns: 1fr;
    }

    .headerInfoImg {
        height: 128px;
        width: 128px;
    }

}